
local/default/conf/config.php
local/default/img/backArrow.png
local/default/img/close.png
local/default/img/folderIcon.png
local/default/img/fileIcon.png
local/default/img/favicon.png
local/default/img/Gear.png
local/default/img/greenCheck.png
local/default/img/loading.gif
local/default/img/Pause.png
local/default/img/next.png
local/default/img/task-manager.png
local/default/img/redWarning.png
local/default/img/prev.png
local/default/img/trashCan.png
local/default/img/trashCanMulti.png
local/default/img/yellowWarning.png
local/default/img/Play.png
local/default/img/Refresh.png
local/default/template/theme.css